[run]
omit = 
	# ignore __init__.py files
	*/__init__.py
	# ignore test files
	src/tests/*
	docker/test_docker_manager.py
	# ignore files only used as helpers
	src/setup.py
	src/rl/training_scenario.py
	src/monitoring/performance.py
