[flake8]
# E501: Line too long good bye
# W191: Indentation contains tabs
ignore = W191, E128
max-line-length = 140

# F401: module imported but unused
per-file-ignores =
	src/monitoring/performance.py:F401
