<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAgentContainer" aria-expanded="false" aria-controls="collapseAgentContainer">
		Agents
		</button>
	</h2>
<div id="collapseAgentContainer" class="accordion-collapse collapse">
	<div class="accordion-body">
		<div class="accordion-item copy after-add-more">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed target-replace" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseAgent"> <!--  aria-controls="collapseAgent"-->
				Agent
				</button>
			</h2>
			{% if not prefill %}
				{% include "configuration_items/agent.html" %}
			{% else %}
				{% for agent_name, agent_parameter in prefill.items %}
					{% include "configuration_items/agent.html" with name=agent_name parameters=agent_parameter %}
				{% endfor %}
			{% endif %}
		</div>
		<button class="btn btn-success add-more mt-2" type="button">+</button>
	</div>
</div>
