<div id="collapseAgent" class="accordion-collapse collapse target-replace">
	<div class="accordion-body">
		<div class="row p-2">
			<div class="col-6">
				name
			</div>
			<div class="col-6">
				<input class="form-control" type="text" name="environment-agents-name">
			</div>
		</div>
		<div class="row p-2">
			<div class="col-6">
				class
			</div>
			<div class="col-6">
				<input class="form-control" type="text" name="environment-agents-agent_class">
			</div>
		</div>
		<div class="row p-2">
			<div class="col-6">
				argument
			</div>
			<div class="col-6">
				<input class="form-control" type="text" name="environment-agents-argument">
			</div>
		</div>
	</div>
</div>
