<div class="accordion-item">
	<h2 class="accordion-header">
		{% load static %}
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAgentContainer" aria-expanded="false" aria-controls="collapseAgentContainer">
			{% if error_dict %} <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict}}"></img> {% endif %}
			Agents
		</button>
	</h2>
<div id="collapseAgentContainer" class="accordion-collapse collapse">
	<div class="accordion-body">
		{% if prefill %}
			{% for agent in prefill %}
				{% include "configuration_items/agent.html" with id=agent.id prefill=agent %}
			{% endfor %}
		{% else %}
			{% include "configuration_items/agent.html" with id=0 %}
		{% endif %}
		<button class="btn bc-outline-lightgreen add-more mt-2" data-url="/agent" type="button">+</button>
	</div>
</div>
