<div class="accordion-item">
	<h2 class="accordion-header" >
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHyperparameter" aria-expanded="false" aria-controls="collapseHyperparameter">
		Hyperparameter
		</button>
	</h2>
<div id="collapseHyperparameter" class="accordion-collapse collapse">
	{% include "configuration_items/rl.html" with prefill=prefill.rl error_dict=error_dict.rl %}
	{% include "configuration_items/sim_market.html" with prefill=prefill.sim_market error_dict=error_dict.sim_market %}
</div>
</div>
