<div class="accordion-item">
    <h2 class="accordion-header" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRL" aria-expanded="false" aria-controls="collapseRL">
            RL
        </button>
    </h2>
    <div id="collapseRL" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body rl-parameter">
            {% include "configuration_items/rl_parameter.html" with parameters=prefill %}
        </div>
    </div>
</div>
