<div class="accordion-item">
    <h2 class="accordion-header" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRL" aria-expanded="false" aria-controls="collapseRL">
            RL
        </button>
    </h2>
    <div id="collapseRL" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body rl-parameter">
            {% load static %}
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.gamma %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.gamma}}"></img>
                    {% endif %}
                    gamma
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.gamma %} bc-error-field {% endif %}"
                        min="0" max="1" step="any" value="{{prefill.gamma}}" name="hyperparameter-rl-gamma">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.batch_size %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.batch_size}}"></img>
                    {% endif %}
                    batch size
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.batch_size %} bc-error-field {% endif %}"
                        min="0" step="any" value="{{prefill.batch_size}}" name="hyperparameter-rl-batch_size">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.replay_size %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.replay_size}}"></img>
                    {% endif %}
                    replay size
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.replay_size %} bc-error-field {% endif %}"
                        min="0" step="any" value="{{prefill.replay_size}}" name="hyperparameter-rl-replay_size">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.learning_rate %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.learning_rate}}"></img>
                    {% endif %}
                    learning rate
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.learning_rate %} bc-error-field {% endif %}"
                        min="0" max="1" step="any" value="{{prefill.learning_rate}}" name="hyperparameter-rl-learning_rate">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.sync_target_frames %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.sync_target_frames}}"></img>
                    {% endif %}
                    sync target frames
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.sync_target_frames %} bc-error-field {% endif %}"
                        min="0" step="any" value="{{prefill.sync_target_frames}}" name="hyperparameter-rl-sync_target_frames">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.start_size %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.start_size}}"></img>
                    {% endif %}
                    replay start size
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.start_size %} bc-error-field {% endif %}"
                        min="0" step="any" value="{{prefill.replay_start_size}}" name="hyperparameter-rl-replay_start_size">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.epsilon_decay_last_frame %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.epsilon_decay_last_frame}}"></img>
                    {% endif %}
                    epsilon decay last frame
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.epsilon_decay_last_frame %} bc-error-field {% endif %}"
                        min="0" step="any" value="{{prefill.epsilon_decay_last_frame}}" name="hyperparameter-rl-epsilon_decay_last_frame">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.epsilon_start %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.epsilon_start}}"></img>
                    {% endif %}
                    epsilon start
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.epsilon_start %} bc-error-field {% endif %}"
                        min="0" step="any"  value="{{prefill.epsilon_start}}" name="hyperparameter-rl-epsilon_start">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-6">
                    {% if error_dict.epsilon_final %}
                        <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{error_dict.epsilon_final}}"></img>
                    {% endif %}
                    epsilon final
                </div>
                <div class="col-6">
                    <input type="number" class="form-control {% if error_dict.epsilon_final %} bc-error-field {% endif %}"
                        min="0" step="any"  value="{{prefill.epsilon_final}}" name="hyperparameter-rl-epsilon_final">
                </div>
            </div>
        </div>
    </div>
</div>
