{% load static %}
{% for parameter in parameters %}
    <div class="row p-2">
        <div class="col-6">
            {% if parameter.error %}
                <img src="{% static 'icons/warning.svg' %}" width="18px" title="{{parameter.error}}"></img>
            {% endif %}
            {{parameter.name}}
        </div>
        <div class="col-6">
            <input type="{{parameter.input_type}}" class="form-control {% if parameter.error %} bc-error-field {% endif %}"
                step="any" value="{{parameter.prefill}}" name="hyperparameter-rl-{{parameter.name}}">
        </div>
    </div>
{% endfor %}
