<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSimMarket" aria-expanded="false" aria-controls="collapseSimMarket">
		Sim Market
		</button>
	</h2>
<div id="collapseSimMarket" class="accordion-collapse collapse">
	<div class="accordion-body">
		<div class="row">
			<div class="col-6">
				max storage
			</div>
			<div class="col-6">
				<input type="number" class="form-control" min="0" step="any" value="{{prefill.max_storage}}" name="hyperparameter-sim_market-max_storage">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				episode length
			</div>
			<div class="col-6">
				<input type="number" class="form-control" min="0" step="any" value="{{prefill.episode_length}}" name="hyperparameter-sim_market-episode_length">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				max price
			</div>
			<div class="col-6">
				<input type="number" class="form-control" min="0" step="any" value="{{prefill.max_price}}" name="hyperparameter-sim_market-max_price">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				max quality
			</div>
			<div class="col-6">
				<input type="number" class="form-control" min="0" step="any" value="{{prefill.max_quality}}" name="hyperparameter-sim_market-max_quality">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				number of customers
			</div>
			<div class="col-6">
				<input type="number" class="form-control" min="0" step="any" value="{{prefill.number_of_customers}}" name="hyperparameter-sim_market-number_of_customers">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				production price
			</div>
			<div class="col-6">
				<input type="number" class="form-control" min="0" step="any" value="{{prefill.production_price}}" name="hyperparameter-sim_market-production_price">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				storage cost per product
			</div>
			<div class="col-6">
				<input type="number" class="form-control" min="0", step="any" value="{{prefill.storage_cost_per_product}}" name="hyperparameter-sim_market-storage_cost_per_product">
			</div>
		</div>
	</div>
</div>
</div>
