<div class="flex_div">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="action" value="data">
		<input type="hidden" name="file_type" value="zip">
		<button class="action_button data_button {% if container.is_archived%} inactive {% endif %}"
			name="container_id" value="{{ container.id }}"
			title="downloads data from running container as zip"
			type="{% if container.is_archived%}button{% else %}submit{% endif %}">
				{% if container.is_archived%}	
					not available
				{% else %}
					zip
				{% endif %}
		</button>
	</form>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="action" value="data">
		<input type="hidden" name="file_type" value="tar">
		<button class="action_button data_button {% if container.is_archived%} inactive {% endif %}"
			name="container_id" value="{{ container.id }}"
			title="downloads data from running container as tar"
			type="{% if container.is_archived%}button{% else %}submit{% endif %}">
				{% if container.is_archived%}	
					not available
				{% else %}
					tar
				{% endif %}
		</button>
	</form>
</div>
