<div class="d-flex">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="action" value="data">
		<input type="hidden" name="file_type" value="zip">
		<button class="btn btn-sm mx-auto {% if container.is_archived%} btn-outline-dark {% else %} bc-outline-download{% endif %}"
			name="container_id" value="{{ container.id }}"
			title="downloads data from running container as zip"
			type="{% if container.is_archived%}button{% else %}submit{% endif %}">
				{% if container.is_archived%}	
					not available
				{% else %}
					zip
				{% endif %}
		</button>
	</form>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="action" value="data">
		<input type="hidden" name="file_type" value="tar">
		<button class="btn btn-sm {% if container.is_archived%} btn-outline-dark {% else %}bc-outline-download{% endif %}"
			name="container_id" value="{{ container.id }}"
			title="downloads data from running container as tar"
			type="{% if container.is_archived%}button{% else %}submit{% endif %}">
				{% if container.is_archived%}	
					not available
				{% else %}
					tar
				{% endif %}
		</button>
	</form>
</div>
