<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action", value="remove">
    <button class="btn btn-sm bc-outline-red border-3 fs-6 {% if not show %} bc-red-demo  {% endif %}"
        title="stops execution of the script in the running container"
        name="container_id" value="{{ container.id }}" type="submit">
        {% if show %}
            Stop
        {% else %}
            <span style="opacity: 0.0">Stop</span>
        {% endif %}
    </button>
</form>
