{% include "header.html" %}
<div class="row">
	<div class="col-3">
		<ul>
			{% for config in all_configurations %}
				<li>{{ config.id }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-9">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="action" value="start">
			<div class="accordion" id="config_form">
				{% include "configuration_items/environment.html" %}
				{% include "configuration_items/hyperparameter.html" %}
			</div>
			<input class="form-control" type="text" placeholder="experiment name" name="experiment_name">
			<button class="btn btn-secondary btn-rounded m-3">launch</button>
		</form>
	</div>
{% include "footer.html" %}
