{% extends "base.html" %}
{% block title %}Delete{% endblock title %}
{% block content %}
<div class="card" style="width: 100%">
	<div class="card-body">
	  <h5 class="card-title">Are you sure you want to delete this config?</h5>
	  <p class="card-text">{% include "configuration_items/config.html" with prefill=config_dict %}</p>
	  <form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="action", value="manage_config">
		<button class="btn bc-outline-lightgreen" title="delete the config"
			name="delete" value="{{ config.id }}" type="submit">yes</button>
		<button class="btn bc-outline-stop" title="do not delete the config"
			name="not_delete" value="{{ config.id }}" type="submit">no</button>
		</form>
	</div>
  </div>
{% endblock content %}
