{% extends "base.html" %}
{% block title %}Details{% endblock title %}
{% block content %}
    <h1>You are viewing container {{ container.name }}</h1>
    <div class="content">
        <table class="table">
            <tr>
                <th>command</th>
                <th>created at</th>
                <th>last checked at</th>
                <th>health status</th>
                <th>get health status</th>
                <th>toggle pause</th>
                <th>download</th>
                <th>logs</th>
                <th>stop and remove container</th>
                <th>tensorboard</th>
                <th>configuration</th>
            </tr>
            <tr>
                <td>{{ container.command }}</td>
                <td>{{ container.created_at }}</td>
                <td>{{ container.last_check_at }}</td>
                <td>{{ container.health_status }}</td>
                <td class="button_row" >
                    {% include "buttons/health_button.html" %}
                </td>
                <td class="button_row">
                    {% include "buttons/pause_button.html" %}
                </td>
                <td class="button_row" >
                    {% include "buttons/download_button.html" %}
                </td>
                <td class="button_row" >
                    {% include "buttons/logs_button.html" %}
                </td>
                <td class="button_row">
                    {% include "buttons/stop_button.html" %}
                </td>
                <td class="button_row" >
                    {% include "buttons/tensorboard_button.html" %}
                </td>
                <td class="button_row" >
                    {% include "buttons/config_button.html" %}
                </td>
            </tr>
        </table>
        <div>
            {% if data %}
                <p >
                    <pre class="alert alert-dark">{{ data }}</pre>
                </p>
            {% endif %}
        </div>
    </div>
    <br>
{% endblock content %}
