<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8"/>
		<title>Download Data</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<h1>Download container data here</h1>
		<br>
		<div class="content">
			{% if all_saved_containers %}
				<table class="table">
					<tr>
						<th>container name</th>
						<th>created at</th>
						<th>last checked at</th>
						<th>health status</th>
						<th>download current data</th>
						<th>download all data</th>
						<th>delete permanently</th>
					</tr>
					{% for container in all_saved_containers %}
						<tr>
							<td>{{ container.name }}</td>
							<td>{{ container.created_at }}</td>
							<td>{{ container.last_check_at }}</td>
							<td>{{ container.health_status }}</td>
							<td class="button_row" >
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<button class="action_button data_button" name="data-latest" value="{{ container.container_id }}" type="submit">download</button>
								</form>
							</td>
							<td class="button_row" >
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<button class="action_button data_button" name="data-all" value="{{ container.container_id }}" type="submit">download</button>
								</form>
							</td>
							<td class="button_row" >
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<button class="action_button delete_button" name="remove" value="{{ container.container_id }}" type="submit">delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>
					Currently you have no containers running :( You can start one by uploading a config file 
					<a href="/upload">here</a> or use existing config files 
					<a href="/start_container">here</a>
				</p>
			{% endif %}
			{% if success %}
				<div>
					<p class="success notice">
						{{success}}
					</p>
				</div>
			{% elif error %}
				<div>
					<p class="error notice">
						{{error}}
					</p>
				</div>
			{% endif %}
		</div>
		<br>
		<a href="/">home</a>
	</body>
</html>
