{% extends "base.html" %}
{% block title %}Configurator{% endblock title %}
{% block content %}
		<h1>Download container data here</h1>
		<br>
		<div class="content">
			{% if all_saved_containers %}
				<table class="table">
					<tr>
						<th>container name</th>
						<th>command</th>
						<th>created at</th>
						<th>last checked at</th>
						<th>health status</th>
						<th>download</th>
						<th>delete permanently</th>
					</tr>
					{% for container in all_saved_containers %}
						<tr>
							{% if container.is_archived %}
								<td>{{ container.name }}</td>
							{% else %}
								<td><a href="/details/{{ container.id }}">{{ container.name }}</a></td>
							{% endif %}
							<td>{{ container.command }}</td>
							<td>{{ container.created_at }}</td>
							<td>{{ container.last_check_at }}</td>
							<td>{{ container.health_status }}</td>
							<td class="button_row" >
								{% include "api_buttons/download_button.html" %}
							</td>
							<td class="button_row" >
								{% include "api_buttons/delete_button.html" %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>
					Currently you have no containers running :( You can start one by uploading a config file 
					<a href="/upload">here</a> or by manually creating a config file 
					<a href="/configurator">here</a>
				</p>
			{% endif %}
		</div>
{% endblock content %}
