<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Welcome</title>
		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
	</head>
	<body>
		<h1>Welcome to the Alpha Business simulation</h1>
		<a class="upload" href="/upload">Upload a config file</a> <br>
		<a class="start_container" href="/start_container">Start container with existing config files</a> <br>
		<a class="observe" href="/observe">Observe running containers</a> <br>
		<a class="download" href="/download">Download results</a> <br>
	</body>
</html>
