<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8"/>
		<title>Observe Container</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<h1>You can observe all your docker containers here</h1>
		<br>
		{% if all_saved_containers %}
			<table class="table">
				<tr>
					<th>container id</th>
					<th>created at</th>
					<th>last checked at</th>
					<th>health status</th>
					<th>get health status</th>
					<th>stop and remove container</th>
					<th>tensorboard</th>
				</tr>
				{% for container in all_saved_containers %}
					<tr>
						<td>{{ container.name }}</td>
						<td>{{ container.created_at }}</td>
						<td>{{ container.last_check_at }}</td>
						<td>{{ container.health_status }}</td>
						<td class="button_row" >
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<button class="action_button health_check_button" name="health" value="{{ container.container_id }}" type="submit">check health</button>
							</form>
						</td>
						<td class="button_row" >
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<button class="action_button stop_button" name="remove" value="{{ container.container_id }}" type="submit">stop and remove</button>
							</form>
						</td>
						<!-- <td class="button_row" >
							<form action="#" method="get">
								<button class="action_button observe_button" value="{{ container.container_id }}" name="observe" href="{% url 'observe'%}" type="submit">Check it out</button>
							</form>  
						</td> -->
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>
				Currently you have no containers running :( You can start one by uploading a config file 
				<a href="/upload">here</a> or use existing config files 
				<a href="/start_container">here</a>
			</p>
		{% endif %}
		<br>
		<a href="/">home</a>
	</body>
</html>
