<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Observe Container</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<h1>You can observe all your active container here</h1>
		<div class="content">
			{% if all_saved_containers %}
				<table class="table">
					<tr>
						<th>container name</th>
						<th>command</th>
						<th>created at</th>
						<th>last checked at</th>
						<th>health status</th>
						<th>get health status</th>
						<th>stop and remove container</th>
						<th>tensorboard</th>
					</tr>
					{% for container in all_saved_containers %}
						<tr>
							<td><a href="/details/{{ container.container_id }}">{{ container.name }}</a></td>
							<td>{{ container.command }}</td>
							<td>{{ container.created_at }}</td>
							<td>{{ container.last_check_at }}</td>
							<td>{{ container.health_status }}</td>
							<td class="button_row" >
								{% include "api_buttons/health_button.html" %}
							</td>
							<td class="button_row" >
								{% include "api_buttons/stop_button.html" %}
							</td>
							<td class="button_row" >
								{% include "api_buttons/tensorboard_button.html" %} 
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>
					Currently you have no containers running :( You can start one by uploading a config file 
					<a href="/upload">here</a> or use existing config files 
					<a href="/start_container">here</a>
				</p>
			{% endif %}
			{% include "notice_field.html" %}
		</div>
		<br>
		<a href="/">home</a>
	</body>
</html>
