<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8"/>
		<title>Start container</title>
	</head>
	<body>
		{% if file_names %}
			<h1>You can start containers here</h1>
			<table class="table">
				<tr>
					<th>file name</th>
					<th></th>
				</tr>

				{% for file_name in file_names %}
				<!-- {% with uploaded_file=file.file_upload %}     -->
					<tr>
						<td>{{ file_name }}</td>
						<td>
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<button name="filename" value="{{ file_name }}" type="submit">launch</button>
							</form>
						</td>
					</tr>
				<!-- {% endwith %} -->
				{% endfor %}
			</table>
		{% else %}
			<h1>At the moment you cannot do anything here</h1>
			<p>
				Currently you have no config files uploaded :( You can start one by uploading a config file 
				<a href="/upload">here</a>.
			</p>
		{% endif %}
		<a href="/">home</a>
	</body>
</html>
