<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8"/>
		<title>Start container</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<div class="content">
			{% if file_names %}
				<h1>You can start containers here</h1>
				<table class="table">
					<tr>
						<th>file name</th>
						<th>set your options</th>
					</tr>

					{% for file_name in file_names %}
					<!-- {% with uploaded_file=file.file_upload %}     -->
						<tr>
							<td>{{ file_name }}</td>
							<td>
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<select class="selection_list" name="command_selection">
										<option value="exampleprinter">exampleprinter</option>
										<option value="monitoring">monitoring</option>
										<option value="training">training</option>
									</select>
									<input class="experiment_name" type="text", name="experiment_name">
									<button class="action_button health_check_button" name="filename" value="{{ file_name }}" type="submit">launch</button>
								</form>
							</td>
						</tr>
					<!-- {% endwith %} -->
					{% endfor %}
				</table>
			{% else %}
				<h1>At the moment you cannot do anything here</h1>
				<p>
					Currently you have no config files uploaded :( You can start one by uploading a config file 
					<a href="/upload">here</a>.
				</p>
			{% endif %}
			{% if success %}
				<div>
					<p class="success notice">
						{{success}}
					</p>
				</div>
			{% elif error %}
				<div>
					<p class="error notice">
						{{error}}
					</p>
				</div>
			{% endif %}
		</div>
		<br>
		<a href="/">home</a>
	</body>
</html>
