{% extends "base.html" %}
{% block title %}Upload{% endblock title %}
{% block content %}
    <h1>Upload your config file here</h1>
    <br>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="upload_config" class="form-control-file" accept="application/json"/>
            <input type="text" name="config_name" class="form-control" placeholder="config name">
            <button>Submit</button>
        </form>
    </div>
{% endblock content %}
