table, th, td {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
}
.action_button {
	margin: 5px;
	padding: 5px 10px 5px 10px;
	border: none;
	border-radius: 5px;
}
.button_row {
	text-align: center;
}
.data_button {
	background-color: #8dc1e3;
}
.health_check_button {
	background-color: #8de39a;
}
.launch_button {
	background-color: #8de3a0;
}
.observe_button {
	background-color: #f1e681
}
.selection_list {
	margin-left: 5px;
	border: none;
	border-radius: 5px;
	padding: 5px 0px 5px 0px;
}
.stop_button {
	background-color: #e39a8d;
}
