table, th, td {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
}
.action_button {
	margin: 5px;
	padding: 5px 10px 5px 10px;
	border: none;
	border-radius: 5px;
}
.button_row {
	text-align: center;
}
.content {
	display: inline-block;
}
/* API call buttons */
.data_button {
	background-color: #8dc1e3;
}
.delete_button {
	background-color: #e95c5c;
}
.health_check_button {
	background-color: #8de39a;
}
.inactive {
	background-color: #b6bdbd;
}
.launch_button {
	background-color: #8de3a0;
}
.observe_button {
	background-color: #f1e681
}
.stop_button {
	background-color: #e39a8d;
}
/* error handling */
.error {
	background-color: #f16a6a;
	border-color: #da4848;
}
.success {
	background-color: #94fa94;
	border-color: #15aa15;
}
/* start_container */
.experiment_name {
	border-radius: 5px;
	border-color: black;
}
.selection_list {
	margin: 5px;
	border: none;
	border-radius: 5px;
	padding: 5px 0 5px 0;
}
/* general */
.notice {
	text-align: center;
	border-style: solid;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}
.terminal {
	text-align: left;
	background-color: #f3f5f3;
	border-color: #d0d1d1;
}
.flex_div {
	display: flex;
}
