{% load static %}
{% if config_is_valid %}
	<table class="config-status-display">
		<tr>
			<td>
				{% include "notices/notice_field.html" with success=message%}
			</td>
			<td>
				<img src="{% static 'icons/happy_emoji.svg' %}" width="30px" class="ms-auto ml-2"></img>
			</td>
		</tr>
	</table>
{% else %}
	<table class="config-status-display">
		<tr>
			<td>
				{% include "notices/notice_field.html" with error=message %}
			</td>
			<td>
				<img src="{% static 'icons/sad_emoji.svg' %}" width="30px" class="ms-auto ml-2"></img>
			</td>
		</tr>
	</table>
{% endif %}
